.background {
  background-color: #4b69fd;

  .container {
    background-color: #fff9eb;
    border: 2px solid black;
    border-radius: 64px 64px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;

    &__titulo {
      color: #4b69fd;
      font-size: 32px;
      font-weight: 600;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      &__select {
        width: 475px;
        height: 75px;
        border-radius: 32px;
        border: 2px solid black;
      }

      &__button {
        background-color: #fe652b;
        border: 2px solid black;
        box-shadow: 1px 1px black;
        border-radius: 64px 64px;
        width: 225px;
        height: 80px;
        cursor: pointer;
        color: white;
        font-size: 20px;
        font-weight: 600;
        transition: 0.1s;

        &:hover {
          transition: 0.1s;
          background-color: #4b69fd;
        }
      }

      &__icon {
        padding-left: 1.5rem;
      }
    }

    &__amigoSecreto {
      color: #fe652b;
      font-size: 25px;
    }
    
    &__home {

      cursor: pointer;
    }
  }

}
